* {
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #F2F8F9;
    height: 100vh;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    margin-top: 0;
    margin-right: 5em;
}

nav ul li {
    display : inline-block;
    list-style: none;
    margin: 1em 2em;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: "Cantana One";
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #2C96CE;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/*stuff for the meet charana w/line*/
#meet{
   text-align: center;
    display: flex;
    align-items: center;
    margin-left:9em;
    margin-right:9em;
}
h1{
    font-size:2.25rem;
    color:#30302E;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
    font-family: "Cantana One";
    white-space:nowrap;
}
/*for the picture slideshow*/
.content{
    margin-left:12em;
    margin-top:3em;
    margin-bottom:3em;
    margin-right:5em;
  border-radius: 5px;
    width:322px;
    height:430px;
  overflow: hidden;

  box-shadow:3px 3px 10px 0 grey;
  z-index: -1;
}
.show {
  margin: auto;
  justify-content: left;
  align-items: center;
  font-style: italic;
  width: fit-content;
}
.slide_content {
  float: left;
    width:322.4px;
    height:430.4px;
}

.footer {
    font-family: "Montserrat";
}


.slides {
    width: 60.5em;
  -webkit-animation-name:slide;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes slide {
  20% {
    margin-left: 0;
  }
  40% {
    margin-left: calc(-323px * 1);
  }
  60% {
    margin-left: calc(-323px * 2);
  }
}

/*bio section*/
.bio{
    display:flex;
    align-items:center;
}

.words{
    flex:1;
    text-align:center;
    margin-right:12em;
}
h2{
    font-size: 2em;
    font-family: "PT Sans";
    margin-bottom:.5em;
}
p{
    font-size: 1.25em;
    font-family: "PT Sans";
}

/*copyright*/
.copyright i {
    font-size: 20px;
    color: #fff;
    text-align: center;
    justify-content: center;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    color: white;
    margin-top: 7rem;
}

.social-icons {
    display: inline-block;
    justify-content: space-between;
    list-style: none;
    margin: .5em;
}

nav .fa-solid {
    display: none;
}

@media only screen and (max-width: 600px) {

    .container{
        display: flex;
        flex-direction: column;
        align-items: center; /* Optional: center-align items */
    }


    .header-text {
        font-size: 16px;
        order: 1; /* Move header text below image */
        margin-top: 10px; /* Adjust margin as needed */
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul {
        background: #2C96CE;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;

    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }

    #msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}
    .bio{
   display: flex;
   flex-direction: column;
   justify-items:center;


}
.bio .content{
   margin-left:5rem;
}
.bio .words{
   margin-left:9rem;
}

}





