*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


html {
    color: #19263F;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: #F2F8F9;
}
#begin{
   text-align: center;
    display: flex;
    align-items: center;
}
h1{
    font-size:2.25rem;
    color:#30302E;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
    font-family: "Cantana One";
    white-space:nowrap;
}

.container {
    padding: 10px 10%;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top:30px;

}

.contact-left p i {
    color: #2C96CE;
    margin-right: 15px;
    font-size: 25px;
}

.btn.btn2 {
    display: inline-block;
    background: #ababab;
    margin-left: 330px;

}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 50%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 330px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.contact-left h1 {
    text-align: center;
    color: #19263F;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    margin-top: 0;
    margin-right: 5em;
}

nav ul li {

    display : inline-block;
    list-style: none;
    margin: 1em 2em;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #2C96CE;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

#submit-temp {
    border: 1px solid black;
    width: fit-content;
    border-spacing: inherit;
    margin-left: 35rem;
    padding: 0.5rem;
    background-color: #2C96CE;
    color: white;
}

nav .fa-regular {
    display: none;
}

@media only screen and (max-width: 600px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Optional: center-align items */
    }


    .header-text {
        font-size: 16px;
        order: 1; /* Move header text below image */
        margin-top: 10px; /* Adjust margin as needed */
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fa-regular {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul {
        background: #2C96CE;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-regular {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;

    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }
}

.copyright i {
    font-size: 20px;
    color: #fff;
    text-align: center;
    justify-content: center;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: white;
}

.social-icons {
    display: inline-block;
    justify-content: space-between;
    list-style: none;
    margin: .5em;
}

