*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #F2F8F9;
    height: 100vh;
}

.mission {
    position: absolute;
    top: 20vh;
    right: 5vw;
    display: flex;
}

.mission p {
    text-align: center;
    width: 50vw;
    padding: 50px;
    font-size: 2em;
    margin-top: 20vh;
    color: #5A5A54;
}

.mission h1 {
    position: absolute;
    color: #6D6BE2;
    right: 17vw;
    margin-top: 15vh;
    font-size: 4em;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    margin-top: 1em;
}

nav ul li {
    display : inline-block;
    list-style: none;
    margin: 1em 2em;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #6D6BE2;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.contain {
    display: flex;
}

.photo {
    height: 600px;
    width: 400px;
    border-radius: 3px;
    transition: .5s;
}

.card {
    height: 600px;
    margin: 70px 10px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

.intro {
    height: 75px;
    width: 400px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 78px;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: .5s;
}

h1 {
    margin: 10px;
    font-size: 40px;
    text-align: center;
}

.intro p{
    font-size: 20px;
    margin: 5px;
    visibility: hidden;
    opacity: 0;
}

span {
    font-weight: bold;
}

.card:hover {
    cursor: pointer;
}

.card:hover .intro {
    height: 220px;
    bottom: 4.9em;
    background: rgb(27, 27, 27, .5)
}

.card:hover p {
    opacity: 1;
    visibility: visible;
}

.card:hover .photo {
    transform: scale(1.1);
}

.copyright i {
    font-size: 20px;
    color: #fff;
    text-align: center;
    justify-content: center;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: white;
}

.social-icons {
    display: inline-block;
    justify-content: space-between;
    list-style: none;
    margin: .5em;
}








