*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #F2F8F9;
    height: 100vh;
}

.mission {
    position: absolute;
    top: 20vh;
    right: 5vw;
    display: flex;
}

.mission p {
    text-align: center;
    width: 50vw;
    padding: 50px;
    font-size: 1.5em;
    margin-top: 20vh;
    color: #5A5A54;
    font-family: "PT Sans";
}

.mission h1 {
    position: absolute;
    color: #2C96CE;
    right: 12vw;
    margin-top: 15vh;
    font-size: 3em;
    font-family: "Cantana One";
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    margin-top: 0;
    margin-right: 5em;
}

nav ul li {
    display : inline-block;
    list-style: none;
    margin: 1em 2em;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #2C96CE;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.contain {
    display: flex;
}

.photo {
    height: 37.5em;
    width: 25em;
    border-radius: 0.1875em;
    transition: .5s;
}

.card {
    height: 37.5em;
    margin: 4.375em 0.625em;
    box-shadow: 0.3125em 0.3125em 1.25em black;
    overflow: hidden;
}

.intro {
    height: 4.6875em;
    width: 25em;
    padding: 0.375em;
    box-sizing: border-box;
    position: relative;
    bottom: 4.5em;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: .5s;
}

h1 {
    margin: 10px;
    font-size: 40px;
    text-align: center;
    font-family: "Cantana One";
}

.intro p{
    font-size: 1.25em;
    margin: 0.3125em;
    visibility: hidden;
    opacity: 0;
    font-family: "PT Sans";
}

.footer {
    font-family: "Montserrat";
}

span {
    font-weight: bold;
}

.card:hover {
    cursor: pointer;
}

.card:hover .intro {
    height: 13.75em;
    bottom: 10.75em;
    background: rgb(27, 27, 27, .5)
}

.card:hover p {
    opacity: 1;
    visibility: visible;
}

.card:hover .photo {
    transform: scale(1.1);
}

.copyright i {
    font-size: 20px;
    color: #fff;
    text-align: center;
    justify-content: center;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: white;
}

.social-icons {
    display: inline-block;
    justify-content: space-between;
    list-style: none;
    margin: .5em;
}


/* --------- CSS for Small Screen -------- */

nav .fa-solid {
    display: none;
}

@media only screen and (max-width: 600px) {

    .container {
        flex-direction: column; /* Stack the children vertically */
        align-items: center; /* Center-align the items for better presentation */
    }

    .lo {
        margin-top: 2rem;
        width: 200px;
        height: 80px;
    }

    .intro p {
        font-size: 1em;
        margin: 0.3125em;
        visibility: hidden;
        opacity: 0;
        width: 70%;
        text-align: center;
    }

.contain {
  text-align: center; /* Center align the contents */
}

.photo {
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  display: inline-block; /* Allow centering with margin auto */
  margin-left: -10rem; /* Center the image horizontally */
}

    .intro h1 {
        width: 70%;
        text-align: center;
        font-size: 2em;
    }

    /* Adjust the mission statement positioning */
    .mission {
        position: relative; /* Use relative positioning for natural flow */
        top: auto; /* Reset top positioning */
        right: auto; /* Reset right positioning */
        width: 80%; /* Adjust the width to fit smaller screens, you can tweak this value */
        text-align: center;
        margin-left: 7rem;
    }

    /* Adjust the mission statement text size if necessary */
    .mission h1 {
        font-size: 2em; /* Adjust the size to fit smaller screens */
        margin-top: 10px; /* Adjust the margin top for spacing */
        margin-right: 6rem;
    }

    .mission p {
        font-size: 1em; /* Adjust the paragraph text size for readability on small screens */
        width: auto; /* Let the width naturally adjust to the parent container */
        margin-right: 3rem;
        margin-left: -4rem;
        margin-top: 6rem;
        padding: 5px;
    }

    /* Here, adjust any other elements that need to change on smaller screens */
    /* For example, if the .photo needs to resize or reposition */
    .photo {
        width: 90%;
        height: auto; /* Maintain aspect ratio */
        /*margin-bottom: 5rem; !* Add some space below the photo *!*/
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul {
        background: #2C96CE;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    a:hover {
        color: white;
    }

    nav ul .fa-solid:hover {
        color: white;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .copyright {
        font-size: 14px;
    }
}

#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}









