*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #F2F8F9;
    height: 100vh;
}

.mission {
    position: absolute;
    top: 20vh;
    right: 5vw;
    display: flex;
}

.mission p {
    text-align: center;
    width: 50vw;
    padding: 50px;
    font-size: 2em;
    margin-top: 20vh;
    color: #5A5A54;
}

.mission h1 {
    position: absolute;
    color: #2C96CE;
    right: 17vw;
    margin-top: 15vh;
    font-size: 4em;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    margin-top: 0;
    margin-right: 5em;

}

nav ul li {
    display : inline-block;
    list-style: none;
    margin: 1em 2em;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #2C96CE;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.contain {
    display: flex;
}

.photo {
    height: 37.5em;
    width: 25em;
    border-radius: 0.1875em;
    transition: .5s;
}

.card {
    height: 37.5em;
    margin: 4.375em 0.625em;
    box-shadow: 0.3125em 0.3125em 1.25em black;
    overflow: hidden;
}

.intro {
    height: 4.6875em;
    width: 25em;
    padding: 0.375em;
    box-sizing: border-box;
    position: relative;
    bottom: 4em;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: .5s;
}

h1 {
    margin: 10px;
    font-size: 40px;
    text-align: center;
}

.intro p{
    font-size: 1.25em;
    margin: 0.3125em;
    visibility: hidden;
    opacity: 0;
}

span {
    font-weight: bold;
}

.card:hover {
    cursor: pointer;
}

.card:hover .intro {
    height: 13.75em;
    bottom: 12em;
    background: rgb(27, 27, 27, .5)
}

.card:hover p {
    opacity: 1;
    visibility: visible;
}

.card:hover .photo {
    transform: scale(1.1);
}

.copyright i {
    font-size: 20px;
    color: #fff;
    text-align: center;
    justify-content: center;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: white;
}

.social-icons {
    display: inline-block;
    justify-content: space-between;
    list-style: none;
    margin: .5em;
}



/* --------- CSS for Small Screen -------- */

nav .fa-regular {
    display: none;
}

@media only screen and (max-width: 600px) {

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fa-regular {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul {
        background: #2C96CE;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-regular {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;

    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }
}

#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}








