{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Me </title>
    <link rel = "stylesheet" href = "{% static "financeWebsite/contact.css" %}">
    <!-- <script src = "interact.js"> </script> -->
    <script src="https://kit.fontawesome.com/4e5c25ee1a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <nav>
        <div class="logo">
            <img src = "{% static 'financeWebsite/images/realLogo.png' %}" width = "225px" height = "120px" alt = "logo">
        </div>
        <ul id = "sidemenu">
            <li> <a href = "{% url 'financeWebsite:index' %}"> Home </a></li>
            <li> <a href = "{% url 'financeWebsite:about' %}"> About </a></li>
            <li> <a href = "{% url 'financeWebsite:services' %}"> Services </a></li>
            <li> <a href = "{% url 'financeWebsite:contact' %}"> Contact </a></li>
           <!--  <i class="fa-regular fa-xmark" onclick = "closemenu()"></i> -->
        </ul>
       <!--  <i class="fa-regular fa-bars" onclick = "openmenu()"></i> -->
        </nav>
        <div class="content">
            <div class="contact-left">
                <div class="icon"><i class="fa-regular fa-paper-plane"></i></div>
                <h2>Email: Charanadelacruz@gmail.com</h2>
                <div class="icon"><i class="fa-solid fa-phone"></i></div>
                <h2>Phone: 801-673-1457</h2>
            </div>
            <div class="contact-right">
                <h2>Contact Information</h2>
                <form action="{% url 'financeWebsite:submit_contact' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input id="submit-button" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p class = "footer"> Copyright <i class="fa-regular fa-copyright"></i> Charana de la Cruz | 2024 </p>
            <div class = "social-icons">
                <a href = "https://www.instagram.com/charanadelacruz/"> <i class="fa-brands fa-instagram"></i></a>
                <a href = ""> <i class="fa-brands fa-facebook"></i></a>
                <a href = ""> <i class="fa-brands fa-linkedin"></i></a>
            </div>
    </div>
</body>
</html>