<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Me </title>
    <link rel = "stylesheet" href = "../../static/financeWebsite/contact.css">
    <!-- <script src = "interact.js"> </script> -->
    <script src="https://kit.fontawesome.com/4e5c25ee1a.js" crossorigin="anonymous"></script>
</head>
<body>

    <div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class = "sub-title"> Contact Me</h1>
                <p><i class="fa-solid fa-paper-plane"></i> Charanadelacruz@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i> 801-673-1457</p>
                <div class = "social-icons">
                    <a href = "https://www.instagram.com/dra_004/"> <i class="fa-brands fa-instagram"></i></a>
                    <a href = ""> <i class="fa-brands fa-facebook"></i></a>
                    <a href = ""> <i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="contact-right">
                <form name = "submit-to-google-sheet">
                    <input type = "text" name = "Name" placeholder = "Your Name" required>
                    <input type="email" name="Email" placeholder=" Your Email" required>
                    <textarea name = "Message" rows = "6" placeholder = "Your Message"></textarea>
                    <button type = "submit" class = "btn btn2"> Submit</button>
                </form>
                <span id = "msg"> </span>
            </div>
        </div>
    </div>

</body>
</html>