{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Health and Wellness</title>
    <link rel = "stylesheet" href = "{% static "financeWebsite/childPages.css" %}">
    <!-- <script src = "interact.js"> </script> -->
    <script src="https://kit.fontawesome.com/4e5c25ee1a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="contact">
    <div class="container">
        <nav>
        <div class="logo">
            <img class = "lo" src = "{% static 'financeWebsite/images/logo 1.2.png' %}" width = "350px" height = "130px" alt = "logo">
        </div>
        <ul id = "sidemenu">
            <li> <a href = "{% url 'financeWebsite:index' %}"> Home </a></li>
            <li> <a href = "{% url 'financeWebsite:about' %}"> About </a></li>
            <li> <a href = "{% url 'financeWebsite:services' %}"> Services </a></li>
            <li> <a href = "{% url 'financeWebsite:contact' %}"> Contact </a></li>
           <i class="fa-solid fa-x" onclick = "closemenu()"></i>
        </ul>
       <i class="fa-solid fa-bars" onclick = "openmenu()"></i>
        </nav>
    </div>
    </div>
        <h1 class = "title"> Health and Wellness </h1>
        <div class = "contain">
        <iframe width="700" height="400" src="https://www.youtube.com/embed/f3dBPulbLSk?si=2cmxXBdNpz3bcj_f&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <p class = "description">In this comprehensive YouTube video, Health and wellness is explained as planning and preparing
            for future healthcare expenses by assessing and making provisions for medical needs,
            to ensure continuous access to essential health services. This proactive approach is vital for
            maintaining one's health throughout life and mitigating the financial impact of unexpected medical issues.</p>
            <div class="copyright">
            <p class = "footer"> Copyright <i class="fa-regular fa-copyright"></i> Charana de la Cruz | 2024 </p>
                <div class = "social-icons">
                    <a href = "https://www.instagram.com/charanadelacruz/"> <i class="fa-brands fa-instagram"></i></a>
                    <a href = "https://www.facebook.com/charana.delacruz"> <i class="fa-brands fa-facebook"></i></a>
                    <a href = "https://www.linkedin.com/in/%F0%9F%8C%BAcharana-de-la-cruz-88739b26/"> <i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>

<script>
var sidemenu = document.getElementById("sidemenu");

    function openmenu() {

        sidemenu.style.right = "-50px";
        sidemenu.style.height = "20em";
        sidemenu.style.borderRadius = "5px";

    }
    function closemenu() {

        sidemenu.style.right = "-200px";
    }
</script>

</body>
</html>