{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page </title>
    <link rel = "stylesheet" href = "{% static 'financeWebsite/landing.css' %}">
    <!-- <script src = "interact.js"> </script> -->
    <script src="https://kit.fontawesome.com/4e5c25ee1a.js" crossorigin="anonymous"></script>
</head>
<body>

    <div id="header">

    <div class="container">
    <nav>
        <div class="logo">
            <img src = "{% static 'financeWebsite/images/logo4.jpeg' %}" width = "185px" height = "70px" alt = "logo">
        </div>
        <ul id = "sidemenu">
            <li> <a href = "{% url 'financeWebsite:index' %}"> Home </a></li>
            <li> <a href = "{% url 'financeWebsite:about' %}"> About </a></li>
            <li> <a href = "{% url 'financeWebsite:services' %}"> Services </a></li>
            <li> <a href = "{% url 'financeWebsite:portfolio' %}"> Portfolio </a></li>
            <li> <a href = "{% url 'financeWebsite:contact' %}"> Contact </a></li>
            <i class="fa-regular fa-xmark" onclick = "closemenu()"></i>
        </ul>
         <i class="fa-regular fa-bars" onclick = "openmenu()"></i>
    </nav>
        <div class = "contain">
            <div class = "card">
                <div class = "photo">
                    <img src = "{% static 'financeWebsite/images/IMG_3039.jpeg' %}" height = "600" width = "400" alt = "picture">
                </div>
            <div class = "intro">
                <h1> Charana </h1>
                <p> Hi my name is <span> Charana de La Cruz </span> and I am a financial advisor. My goal is to help individuals like yourself
                become financially free and comfortable when it comes to making important monetary decisions.</p>
            </div>
        </div>
        </div>
    </div>
</div>

<div class = "mission">
    <h1> Mission </h1>
    <p> The Mission of CDLC Finance is to provide our clients with a personalized and intimate
        approach to shaping a financially free future. </p>

</div>
            <div class="copyright">
            <p> Copyright <i class="fa-regular fa-copyright"></i> CDLC Finance | 2024 </p>
                <div class = "social-icons">
                    <a href = "https://www.instagram.com/charanadelacruz/"> <i class="fa-brands fa-instagram"></i></a>
                    <a href = ""> <i class="fa-brands fa-facebook"></i></a>
                    <a href = ""> <i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>

<script>

var sidemenu = document.getElementById("sidemenu");

    function openmenu() {

        sidemenu.style.right = "0";

    }

    function closemenu() {

        sidemenu.style.right = "-200px";

    }

</script>



</body>
</html>