<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page </title>
    <link rel = "stylesheet" href = "../../static/financeWebsite/landing.css">
    <!-- <script src = "interact.js"> </script> -->
    <script src="https://kit.fontawesome.com/4e5c25ee1a.js" crossorigin="anonymous"></script>
</head>
<body>

    <div id="header">

    <div class="container">
    <nav>
        <ul id = "sidemenu">
            <li> <a href = "#header"> Home </a></li>
            <li> <a href = "#about"> About </a></li>
            <li> <a href = "#services"> Services </a></li>
            <li> <a href = "#portfolio"> Portfolio </a></li>
            <li> <a href = "#contact"> Contact </a></li>
           <!--  <i class="fa-regular fa-xmark" onclick = "closemenu()"></i> -->
        </ul>
       <!--  <i class="fa-regular fa-bars" onclick = "openmenu()"></i> -->
    </nav>
        <div class="header-text">

            <p> Financial Advisor </p>
            <h1> Hi, I'm <span> Charana </span> <br> <span> De La Cruz </span>, from Cambodia </h1>

        </div>
    </div>
</div>





</body>
</html>