{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page </title>
    <link rel = "stylesheet" href = "{% static 'financeWebsite/landing.css' %}">
    <!-- <script src = "interact.js"> </script> -->
    <script src="https://kit.fontawesome.com/4e5c25ee1a.js" crossorigin="anonymous"></script>
</head>
<body>

    <div id="header">

    <div class="container">
    <nav>
        <div class="logo">
            <img src = "{% static 'financeWebsite/images/logo1.png' %}" width = "185px" height = "60px" alt = "logo">
        </div>
        <ul id = "sidemenu">
            <li> <a href = "{% url 'financeWebsite:index' %}"> Home </a></li>
            <li> <a href = "{% url 'financeWebsite:about' %}"> About </a></li>
            <li> <a href = "{% url 'financeWebsite:services' %}"> Services </a></li>
            <li> <a href = "{% url 'financeWebsite:portfolio' %}"> Portfolio </a></li>
            <li> <a href = "{% url 'financeWebsite:contact' %}"> Contact </a></li>
           <!--  <i class="fa-regular fa-xmark" onclick = "closemenu()"></i> -->
        </ul>
       <!--  <i class="fa-regular fa-bars" onclick = "openmenu()"></i> -->
    </nav>
        <div class="header-text">
            <p> Financial Advisor </p>
            <h1> Hi, I'm <span> Charana </span> <br> <span> De La Cruz </span>, from Cambodia </h1>
        </div>
        <div class = "img">
            <img src = "{% static 'financeWebsite/images/IMG_3039.jpeg' %}" width = "400px" height = "600px" alt = "picture">
        </div>
    </div>
</div>





</body>
</html>